<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.thinkingFruit.admin.mapper.CashDao">
	<select id="getCountByQuery"
		resultType="java.lang.Integer">
		select count(c.`id`)
		from `t_thinkingfruit_mall_cash` as c
		left join `t_thinkingfruit_mall_member` as m 
		on c.`memberId` = m.`id`
		where 1=1 
		<if test="nicknameReplace != null and nicknameReplace != ''">
			and m.`nickname` like
			CONCAT('%',#{nicknameReplace},'%')
		</if>
		<if test="queryMap.status != null and queryMap.status != ''">
			and c.`status` like
			CONCAT('%',#{queryMap.status},'%')
		</if>
		
		<if test="queryMap.startTime != null and queryMap.startTime != ''">
      <![CDATA[ and c.`createTime` > #{queryMap.startTime} ]]>
		</if>
		<if test="queryMap.endTime != null and queryMap.endTime != ''">
       <![CDATA[ and c.`createTime` < #{queryMap.endTime} ]]>
		</if>
	</select>
	
	<select id="paginationCash" resultType="com.thinkingFruit.admin.entity.Cash">
	    select c.`id`,c.`cash`,c.`status`,c.`bankNumber`,c.`account`,c.`createTime`,m.`nickname`,c.`openBank`
		from `t_thinkingfruit_mall_cash` as c
		left join `t_thinkingfruit_mall_member` as m
		on c.`memberId` = m.`id`
		where 1=1 
		<if test="nicknameReplace != null and nicknameReplace != ''">
			and m.`nickname` like
			CONCAT('%',#{nicknameReplace},'%')
		</if>
		<if test="queryMap.status != null and queryMap.status != ''">
			and c.`status` like
			CONCAT('%',#{queryMap.status},'%')
		</if>
		
		<if test="queryMap.startTime != null and queryMap.startTime != ''">
      <![CDATA[ and c.`createTime` > #{queryMap.startTime} ]]>
		</if>
		<if test="queryMap.endTime != null and queryMap.endTime != ''">
       <![CDATA[ and c.`createTime` < #{queryMap.endTime} ]]>
		</if>
		limit
		#{pagination.start},#{pagination.pageSize}
	</select>
	
	<update id="editCash">
	    update `t_thinkingfruit_mall_cash`
	    <set>
	       status = 1
	    </set>
	    where `id` = #{id}
	</update>
	
	<select id="findCashById" resultType="com.thinkingFruit.admin.entity.Cash">
	    select `id`,`memberId`,`cash`,`status`,`bankNumber`,`createTime`
	    from `t_thinkingfruit_mall_cash`
	    where `id` = #{id}
	</select>
</mapper>