<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.thinkingFruit.admin.mapper.CommisionRankingDao">

<select id="paginationCommision" resultType="com.thinkingFruit.admin.entity.Commision">
    SELECT p.`id`,p.`memberId`,SUM(p.`commision`) as personTotalCommision,m.`name`
    FROM `t_thinkingfruit_mall_commision_person` as p LEFT JOIN `t_thinkingfruit_mall_member` as m on p.`memberId` = m.`id`
    where 1=1
	<if test="queryMap.name != null and queryMap.name != ''">
	    and p.`name` like CONCAT('%',#{queryMap.name},'%')
	</if>
	<if test="queryMap.name != null and queryMap.name != ''">
	    and m.`name` like CONCAT('%',#{queryMap.name},'%')
	</if>
	<if test="queryMap.memberId != null and queryMap.memberId != ''">
	    and p.`memberId` = #{queryMap.memberId}
	</if> 
    GROUP BY p.`memberId`
    ORDER BY `personTotalCommision` DESC
</select>

</mapper>