<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.thinkingFruit.admin.mapper.CommisionDao">

<select id="getCountByQuery" resultType="java.lang.Integer">
   select count(`id`)
   from `t_thinkingfruit_mall_commision`
   where 1=1
   <if test="queryMap.orderNo != null and queryMap.orderNo != ''">
      and `orderNo` = #{queryMap.orderNo}
   </if>
   <if test="queryMap.startTime != null and queryMap.startTime != ''">
      <![CDATA[ and `createTime` > #{queryMap.startTime} ]]>
			</if>
			<if test="queryMap.endTime != null and queryMap.endTime != ''">
       <![CDATA[ and `createTime` < #{queryMap.endTime} ]]>
   </if>
</select>

<select id="paginationCommision" resultType="com.thinkingFruit.admin.entity.Commision">
   select `id`,`orderNo`,`totalAmount`,`commision`,`nicknames`,`createTime`
   from `t_thinkingfruit_mall_commision`
   where 1=1
   <if test="queryMap.orderNo != null and queryMap.orderNo != ''">
      and `orderNo` = #{queryMap.orderNo}
   </if>
   <if test="queryMap.startTime != null and queryMap.startTime != ''">
      <![CDATA[ and `createTime` > #{queryMap.startTime} ]]>
			</if>
			<if test="queryMap.endTime != null and queryMap.endTime != ''">
       <![CDATA[ and `createTime` < #{queryMap.endTime} ]]>
   </if>
   limit
	#{pagination.start},#{pagination.pageSize}
</select>

<select id="findCommisionById" resultType="com.thinkingFruit.admin.entity.Commision">
   select `id`,`orderNo`,`totalAmount`,`commision`,`percent`,`nicknames`,`createTime`
   from `t_thinkingfruit_mall_commision`
   where `id` = #{id}
</select>

<insert id="addTotalCommision">
   insert into `t_thinkingfruit_mall_commision`(`orderNo`,`totalAmount`,`commision`,`percent`,`createTime`)
   values(#{commision.orderNo},#{commision.totalAmount},#{commision.commision},#{commision.percent},now())
</insert>

<insert id="addPersonCommision">
   insert into `t_thinkingfruit_mall_commision_person`(`orderNo`,`totalAmount`,`commision`,`nickname`,`createTime`,`memberId`)
   values
   <foreach collection="commisions" item="commision" separator=",">
      (#{commision.orderNo},#{commision.totalAmount},#{commision.commision},#{commision.nickname},now(),#{commision.memberId})
   </foreach>
</insert>

<select id="getCountByQueryPerson" resultType="java.lang.Integer">
   select count(`id`)
   from `t_thinkingfruit_mall_commision_person`
   where 1=1
   <if test="queryMap.orderNo != null and queryMap.orderNo != ''">
      and `orderNo` = #{queryMap.orderNo}
   </if>
   <if test="queryMap.nickname != null and queryMap.nickname != ''">
      and `nickname` like CONCAT('%',#{queryMap.nickname},'%') 
   </if>
   <if test="queryMap.startTime != null and queryMap.startTime != ''">
      <![CDATA[ and `createTime` > #{queryMap.startTime} ]]>
			</if>
			<if test="queryMap.endTime != null and queryMap.endTime != ''">
       <![CDATA[ and `createTime` < #{queryMap.endTime} ]]>
   </if>
</select>

<select id="paginationCommisionPerson" resultType="com.thinkingFruit.admin.entity.Commision">
   select `id`,`orderNo`,`totalAmount`,`commision`,`nickname`,`createTime`
   from `t_thinkingfruit_mall_commision_person`
   where 1=1
   <if test="queryMap.orderNo != null and queryMap.orderNo != ''">
      and `orderNo` = #{queryMap.orderNo}
   </if>
   <if test="queryMap.nickname != null and queryMap.nickname != ''">
      and `nickname` like CONCAT('%',#{queryMap.nickname},'%') 
   </if>
   <if test="queryMap.startTime != null and queryMap.startTime != ''">
      <![CDATA[ and `createTime` > #{queryMap.startTime} ]]>
			</if>
			<if test="queryMap.endTime != null and queryMap.endTime != ''">
       <![CDATA[ and `createTime` < #{queryMap.endTime} ]]>
   </if>
   limit
	#{pagination.start},#{pagination.pageSize}
</select>

<select id="findMemberCommisionByOrderNo" resultType="com.thinkingFruit.admin.entity.Commision">
   select `memberId`,`commision`,`orderNo`
   from `t_thinkingfruit_mall_commision_person`
   where `orderNo` = #{orderNo}
</select>

	<insert id="addCommision">
		insert into
		`t_thinkingfruit_mall_commision`(
			`orderNo`,`totalAmount`,`inviterTotalMoney`,`commision`,`commisionProportion`,`InviteMoney`,`commodityId`,`memberId`,`inviterId`,`inviterUpperId`,`createTime`
		)
		values
		(
			#{orderNo},#{totalAmount},#{inviterTotalMoney},#{commision},#{commisionProportion},#{InviteMoney},#{commodityId},#{memberId},#{inviterId},#{inviterUpperId},now()
		)
	</insert>
</mapper>