<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.thinkingFruit.admin.mapper.CommodityDao">
    <!-- 添加商品 -->
    <insert id="addCommodity" useGeneratedKeys="true" keyProperty="id" parameterType="com.thinkingFruit.admin.entity.Commodity">
        insert into `t_thinkingfruit_mall_commodity`(`name`,`coverImagePath`, `description`,`stock`,`sales`,`approvalNumber`,`status`,`firstPrice`,`secondPrice`,`thirdPrice`,`fourthPrice`,`fifthPrice`,`createTime`)
        values(#{name},#{coverImagePath},#{description},#{stock},0,#{approvalNumber},0,#{firstPrice},#{secondPrice},#{thirdPrice},#{fourthPrice},#{fifthPrice},now())
    </insert>
     <!-- 添加商品详情图片 -->
    <insert id="addCommoditydDetailsImage">
    	insert into t_thinkingfruit_mall_commodity_images(`imagePath`,`imageStatus`,`status`,`commodityId`,`createTime`)
    	values
    	<foreach collection="detailsImagePath" index="index" item="imagePath" separator=",">
			(#{imagePath},
			1,
			0,
			#{id},
			now())
		</foreach>
    </insert>
    <!-- 查询所有商品 -->
    <select id="paginationCommodity" resultType="com.thinkingFruit.admin.entity.Commodity">
        select 
        c.`id` as `id`,
        c.`name` as `name`,
        c.`coverImagePath` as `coverImagePath`,
        c.`sales` as `sales`,
        c.`stock` as `stock`,
        c.`description` as `description`
        from `t_thinkingfruit_mall_commodity` as c 
        <where>
			1 = 1
        <if test="queryMap.name != null and queryMap.name != ''">
           and c.`name` like CONCAT('%',#{queryMap.name},'%')
        </if>
        <if test="queryMap.description != null and queryMap.description != ''">
           and c.`description` like CONCAT('%',#{queryMap.description},'%')
        </if>
        and c.`status`=0
        </where>
        order BY `c`.id
    </select>
    
    
     <!-- 删除商品 -->
    <update id="deleteCommodityById">
        update `t_thinkingfruit_mall_commodity`
        set `status` = 1
        where `id` = #{id}
    </update>
    <!-- 查询商品详情 -->
    <select id="findCommodityById" resultType="com.thinkingFruit.admin.entity.Commodity">
        select 
        c.`id` as `id` ,
        c.`name` as `name`,
        c.`coverImagePath` as `coverImagePath`,
        c.`description` as `description`,
        c.`stock` as `stock`,
        c.`approvalNumber` as `approvalNumber`,
        c.`fifthPrice` as `fifthPrice`,
        c.`fourthPrice` as `fourthPrice`,
        c.`thirdPrice` as `thirdPrice`,
        c.`secondPrice` as `secondPrice`,
        c.`firstPrice` as `firstPrice`
        from `t_thinkingfruit_mall_commodity` as c 
        where c.`id` = #{id}
    </select>
	
	<!-- 通过商品id查询商品图片 -->
	<select id="findCommodityImagesById" resultType="String">
		select 
		`i`.imagePath as `imagePath`
		from `t_thinkingfruit_mall_commodity_images` as `i`
		where `i`.status=0 
		and `i`.commodityId=#{id}
		
	</select>
	<!-- 修改商品 -->
    <update id="editCommodity">
        update `t_thinkingfruit_mall_commodity`
        <set>
           `name` = #{name},
           `coverImagePath` = #{coverImagePath},
           `description` = #{description},
           `approvalNumber` = #{approvalNumber},
           `stock` = #{stock},
           `fifthPrice` = #{fifthPrice},
           `fourthPrice` = #{fourthPrice},
           `thirdPrice` = #{thirdPrice},
           `secondPrice` = #{secondPrice},
           `firstPrice` = #{firstPrice}
        </set>
        where `id` = #{id}
    </update>
    
    <!-- 删除商品图片 -->
    <update id="deleteCommodityImagesById">
        update `t_thinkingfruit_mall_commodity_images`
        <set>
           `status` = 1,
           `updateTime` = now(),
        </set>
        where `id` = #{id}
    </update>
    <!-- 获取所有商品 -->
    <select id="listCommodity" resultType="com.thinkingFruit.admin.entity.Commodity">
        select 
        c.`id` as `id`,
        c.`name` as `name`,
        c.`coverImagePath` as `coverImagePath`,
        c.`sales` as `sales`,
        c.`stock` as `stock`,
        c.`description` as `description`
        from `t_thinkingfruit_mall_commodity` as c 
        where c.`status`=0
    </select>
</mapper>