<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.thinkingFruit.admin.mapper.MemberDao">

<select id="getCountByQuery" resultType="java.lang.Integer">
	select count(m.`id`)
	from `t_thinkingfruit_mall_member`as m
	<where>
	   1=1
	   <if test="nicknameReplace !=null and nicknameReplace != ''">
	      and m.`nickname` like CONCAT('%',#{nicknameReplace},'%')
	   </if>
	   <if test="queryMap.country !=null and queryMap.country != ''">
	      and m.`country` like CONCAT('%',#{queryMap.country},'%')
	   </if>
	   <if test="queryMap.city !=null and queryMap.city != ''">
	      and m.`city` like CONCAT('%',#{queryMap.city},'%')
	   </if>
	   <if test="queryMap.startTime != null and queryMap.startTime != ''">
      <![CDATA[ and m.`createTime` > #{queryMap.startTime} ]]>
	   </if>
	   <if test="queryMap.endTime != null and queryMap.endTime != ''">
      <![CDATA[ and m.`createTime` < #{queryMap.endTime} ]]>
	   </if>
	    
	</where>
</select>

<select id="paginationSecondCategory" resultType="com.thinkingFruit.admin.entity.Member">
	select m.`id`,m.`gender`,m.`mobile`,m.`nickname`,m.`name`,m.`country`,m.`province`,m.`city`,m.`status`,m.`avatar`,m.`parentMemberId`,m.`identityNo`,
	m.`inviterId`,l.`level`
	from `t_thinkingfruit_mall_member`as m left join `t_thinkingfruit_mall_member_level`as l
	on m.`id` = l.`memberId`
	<where>
	   1=1
	   <if test="nicknameReplace !=null and nicknameReplace != ''">
	      and m.`nickname` like CONCAT('%',#{nicknameReplace},'%')
	   </if>
	   <if test="queryMap.country !=null and queryMap.country != ''">
	      and m.`country` like CONCAT('%',#{queryMap.country},'%')
	   </if>
	   <if test="queryMap.city !=null and queryMap.city != ''">
	      and m.`city` like CONCAT('%',#{queryMap.city},'%')
	   </if>
	   <if test="queryMap.startTime != null and queryMap.startTime != ''">
      <![CDATA[ and m.`createTime` > #{queryMap.startTime} ]]>
	   </if>
	   <if test="queryMap.endTime != null and queryMap.endTime != ''">
      <![CDATA[ and m.`createTime` < #{queryMap.endTime} ]]>
	   </if>
	   <if test="queryMap.level!=null and queryMap.level != ''">
	      and l.`level` like CONCAT('%',#{queryMap.level},'%')
	   </if>
	   and `m`.status =0 or 1
	</where>
	limit
	#{pagination.start},#{pagination.pageSize}
</select>

<!--根据id查询需要的代理信息-->
<select id="memberLevelIdById" resultType="com.thinkingFruit.admin.entity.Member">
    select m.`memberLevelId`,
    m.`parentMemberId`,
    m.`gender`,
    m.`mobile`,
    m.`name`,
    m.`nickname`,
    m.`avatar`,
    m.`inviterId`,
    m.`country`,
    m.`province`,
    m.`city`,
    m.`identityNo`,
    m.`status`,
    m.`updateTime`,
    l.`level`
    from `t_thinkingfruit_mall_member` as m left join `t_thinkingfruit_mall_member_level`as l
	on m.`id` = l.`memberId`
    where m.`id` = #{id}
</select>
<!--通过ID修改用户级别和父id-->
<update id="updataById">
    update `t_thinkingfruit_mall_member`
    <set>
        `parentMemberId` = #{member.parentMemberId},
        `updateTime` = now()
    </set>
    where `id` = #{member.id}
</update>
<update id="updataById1">
    update `t_thinkingfruit_mall_member_level`
    <set>
        `level` = #{member.level},
        `updateTime` = now()
    </set>
    where `memberId` = #{member.id}
</update>
<!--通过id删除代理-->
<update id="deleteById">
    update `t_thinkingfruit_mall_member`
    <set>
        `status` = 3,
        `updateTime` = now()
    </set>
    where `id` = #{id}
</update>
</mapper>