<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.thinkingFruit.admin.mapper.MemberDao">

<!-- 查询所有代理 -->
<select id="paginationMember" resultType="com.thinkingFruit.admin.entity.Member">
	select m.`id`,m.`gender`,m.`mobile`,m.`loginName`,m.`name`,m.`status`,m.`avatar`,m.`inviterUpperId`,m.`identityNo`,
	m.`inviterId`,m.`memberLevelId`,`l`.levelName as `memberLevelName`
	from `t_thinkingfruit_mall_member`as `m`
	left join `t_thinkingfruit_mall_member_level` as `l` on `l`.level=`m`.memberLevelId
	<where>
	   1=1
	   <if test="queryMap.loginName !=null and queryMap.loginName != ''">
	      and m.`loginName` like CONCAT('%',#{queryMap.loginName},'%')
	   </if>
	   <if test="queryMap.startTime != null and queryMap.startTime != ''">
      <![CDATA[ and m.`createTime` > #{queryMap.startTime} ]]>
	   </if>
	   <if test="queryMap.endTime != null and queryMap.endTime != ''">
      <![CDATA[ and m.`createTime` < #{queryMap.endTime} ]]>
	   </if>
	   <if test="queryMap.memberLevelId!=null and queryMap.memberLevelId != ''">
	      and m.`memberLevelId` =#{queryMap.memberLevelId}
	   </if>
	   and `m`.status =1
	</where>
</select>

<!--根据id查询代理详情-->
<select id="memberById" resultType="com.thinkingFruit.admin.entity.Member">
    select
    m.`id`,
    m.`loginName`,
    m.`memberLevelId`,
    m.`inviterUpperId`,
    m.`gender`,
    m.`mobile`,
    m.`name`,
    m.`avatar`,
    m.`inviterId`,
    m.`inviterUpperId`,
    m.`balance`,
    m.`identityNo`,
    m.`status`,
    m.`upStatus`,
    m.`updateTime`
    from `t_thinkingfruit_mall_member` as `m`
    where m.`id` = #{id}
</select>
<!--修改代理邀请者id，和邀请者上级id及代理级别-->
<update id="updataById" parameterType="com.thinkingFruit.admin.entity.Member">
    update `t_thinkingfruit_mall_member` as `m`
    <trim prefix="set" suffixOverrides="," suffix="where `m`.id = #{id}">
			<if test="inviterId != null ">
				m.`inviterId` = #{inviterId},
			</if>
			<if test="updateTime != null and updateTime != ''">
				m.`updateTime` = #{updateTime},
			</if>
			<if test="inviterUpperId != null">
				m.`inviterUpperId` = #{inviterUpperId},
			</if>
			<if test="memberLevelId != null">
				m.`memberLevelId` = #{memberLevelId},
			</if>
		</trim>
</update>
<!--通过id删除代理-->
<update id="deleteById">
    update `t_thinkingfruit_mall_member`
    <set>
        `status` = 2,
        `updateTime` = now()
    </set>
    where `id` = #{id}
</update>
<!-- 提现改变余额 -->
<update id="putForward">
    update `t_thinkingfruit_mall_member`
    <set>
        `balance` =`balance`- #{balance},
        `updateTime` = now(),
    </set>
    where `id` = #{memberId}
</update>

<!-- 获取所有注册待审核的代理列表 -->
<select id="paginationExamine" resultType="com.thinkingFruit.admin.entity.Member">
	select m.`id`,m.`mobile`,m.`loginName`,m.`status`,m.`inviterUpperId`,
	m.`inviterId`,m.`createTime`
	from `t_thinkingfruit_mall_member`as `m`
	<where>
	   1=1
	   <if test="queryMap.loginName !=null and queryMap.loginName != ''">
	      and m.`loginName` like CONCAT('%',#{queryMap.loginName},'%')
	   </if>
	   <if test="queryMap.startTime != null and queryMap.startTime != ''">
      <![CDATA[ and m.`createTime` > #{queryMap.startTime} ]]>
	   </if>
	   <if test="queryMap.endTime != null and queryMap.endTime != ''">
      <![CDATA[ and m.`createTime` < #{queryMap.endTime} ]]>
	   </if>
	   and `m`.status =0
	</where>
</select>
<!-- 获取所有升级待审核的代理列表 -->
<select id="PaginationUpExamine" resultType="com.thinkingFruit.admin.entity.Member">
	select m.`id`,m.`mobile`,m.`loginName`,m.`upStatus`,m.`inviterUpperId`,
	m.`inviterId`,m.`createTime`
	from `t_thinkingfruit_mall_member`as `m`
	<where>
	   1=1
	   <if test="queryMap.loginName !=null and queryMap.loginName != ''">
	      and m.`loginName` like CONCAT('%',#{queryMap.loginName},'%')
	   </if>
	   <if test="queryMap.startTime != null and queryMap.startTime != ''">
      <![CDATA[ and m.`createTime` > #{queryMap.startTime} ]]>
	   </if>
	   <if test="queryMap.endTime != null and queryMap.endTime != ''">
      <![CDATA[ and m.`createTime` < #{queryMap.endTime} ]]>
	   </if>
	   and `m`.upStatus=1
	</where>
</select>
<!-- 修改待审核的代理通过 -->
<update id="examineUpdate">
    update `t_thinkingfruit_mall_member`
    <set>
        `status` = 1,
        `memberLevelId`=#{memberLevelId},
        `updateTime` = now()
    </set>
    where `id` = #{id}
</update>
<!-- 修改升级的代理通过 -->
<update id="upExamineUpdate">
    update `t_thinkingfruit_mall_member`
    <set>
        `upStatus` = 0,
        `updateTime` = now()
    </set>
    where `id` = #{id}
</update>

<update id="addBalance">
    update `t_thinkingfruit_mall_member` as `m`
    <trim prefix="set" suffixOverrides="," suffix="where `m`.id = #{inviterId}">
		<if test="balance != null ">
			m.`balance` = m.`balance`+(#{balance}),
		</if>
		<if test="inviterId != null">
			m.`updateTime` = now(),
		</if>
	</trim>
</update>


<update id="cancellation">
    update `t_thinkingfruit_mall_member`
    <set>
        `status` =2,
        `updateTime` = now()
    </set>
    where `id` = #{id}
</update>

<update id="cancelUpgrade">
    update `t_thinkingfruit_mall_member`
    <set>
        `upStatus` =0,
        `updateTime` = now()
    </set>
    where `id` = #{id}
</update>
</mapper>