<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.thinkingFruit.admin.mapper.MemberDao">

<!-- 查询所有代理 -->
<select id="paginationMember" resultType="com.thinkingFruit.admin.entity.Member">
	select m.`id`,m.`gender`,m.`mobile`,m.`loginName`,m.`name`,m.`status`,m.`avatar`,m.`inviterUpperId`,m.`identityNo`,
	m.`inviterId`,m.`memberLevelId`
	from `t_thinkingfruit_mall_member`as m 
	<where>
	   1=1
	   <if test="queryMap.loginName !=null and queryMap.loginName != ''">
	      and m.`loginName` like CONCAT('%',#{queryMap.loginName},'%')
	   </if>
	   <if test="queryMap.startTime != null and queryMap.startTime != ''">
      <![CDATA[ and m.`createTime` > #{queryMap.startTime} ]]>
	   </if>
	   <if test="queryMap.endTime != null and queryMap.endTime != ''">
      <![CDATA[ and m.`createTime` < #{queryMap.endTime} ]]>
	   </if>
	   <if test="queryMap.memberLevelId!=null and queryMap.memberLevelId != ''">
	      and m.`memberLevelId` =#{queryMap.memberLevelId}
	   </if>
	   and `m`.status =1
	</where>
</select>

<!--根据id查询代理详情-->
<select id="memberById" resultType="com.thinkingFruit.admin.entity.Member">
    select
    m.`id`,
    m.`loginName`,
    m.`memberLevelId`,
    m.`inviterUpperId`,
    m.`gender`,
    m.`mobile`,
    m.`name`,
    m.`avatar`,
    m.`inviterId`,
    m.`identityNo`,
    m.`status`,
    m.`updateTime`
    from `t_thinkingfruit_mall_member` as m 
    where m.`id` = #{id}
</select>
<!--修改代理邀请者id，和邀请者上级id及代理级别-->
<update id="updataById">
    update `t_thinkingfruit_mall_member`
    <set>
        `inviterId` = #{inviterId},
        `updateTime` = now(),
        `inviterUpperId`=#{inviterUpperId},
        `memberLevelId` = #{memberLevelId},
    </set>
    where `id` = #{id}
</update>
<!--通过id删除代理-->
<update id="deleteById">
    update `t_thinkingfruit_mall_member`
    <set>
        `status` = 2,
        `updateTime` = now()
    </set>
    where `id` = #{id}
</update>
<!-- 提现改变余额 -->
<update id="putForward">
    update `t_thinkingfruit_mall_member`
    <set>
        `balance` =`balance`- #{balance},
        `updateTime` = now(),
    </set>
    where `id` = #{memberId}
</update>
	
	<insert id="cashRecord">
		insert into
		`t_thinkingfruit_mall_member_balance`(
			`memberId`,`balance`,`createTime`,`status`
		)
		values
		(
			#{memberId},#{balance},now(),1
		)
	</insert>
<!-- 获取所有待审核的代理列表 -->
<select id="paginationExamine" resultType="com.thinkingFruit.admin.entity.Member">
	select m.`id`,m.`mobile`,m.`loginName`,m.`status`,m.`inviterUpperId`,
	m.`inviterId`
	from `t_thinkingfruit_mall_member`as `m`
	<where>
	   1=1
	   <if test="queryMap.loginName !=null and queryMap.loginName != ''">
	      and m.`loginName` like CONCAT('%',#{queryMap.loginName},'%')
	   </if>
	   <if test="queryMap.startTime != null and queryMap.startTime != ''">
      <![CDATA[ and m.`createTime` > #{queryMap.startTime} ]]>
	   </if>
	   <if test="queryMap.endTime != null and queryMap.endTime != ''">
      <![CDATA[ and m.`createTime` < #{queryMap.endTime} ]]>
	   </if>
	   and `m`.status =0
	</where>
</select>
<!-- 修改待审核的代理通过 -->
<update id="examineUpdate">
    update `t_thinkingfruit_mall_member`
    <set>
        `status` = 1,
        `updateTime` = now()
    </set>
    where `id` = #{id}
</update>
</mapper>