<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.thinkingFruit.admin.mapper.MessageDao">
<!-- 查询与遍历出所对应的数量 -->
<select id="getCountByQuery" resultType="java.lang.Integer">
	select count(`id`)
	from `t_thinkingfruit_mall_message`
	<where>
	1=1
	<if test="queryMap.content != null and queryMap.content != ''">
	    and `content` like CONCAT('%',#{queryMap.content},'%')
	</if>
	<if test="queryMap.startTime != null and queryMap.startTime != ''">
		<![CDATA[ and `createTime` > #{queryMap.startTime} ]]>
	</if>
	<if test="queryMap.endTime != null and queryMap.endTime != ''">
		<![CDATA[ and `createTime` < #{queryMap.endTime} ]]>
	</if>
	</where> 
</select>

<!-- 查询与遍历出所对应的信息 -->
<select id="paginationMessage" resultType="com.thinkingFruit.admin.entity.Message">
	select `id`,`content`,`createTime`
	from `t_thinkingfruit_mall_message`
	<where> 
	1=1
	<if test="queryMap.content != null and queryMap.content != ''">
	    and `content` like CONCAT('%',#{queryMap.content},'%')
	</if>
	<if test="queryMap.startTime != null and queryMap.startTime != ''">
		<![CDATA[ and `createTime` > #{queryMap.startTime} ]]>
	</if>
	<if test="queryMap.endTime != null and queryMap.endTime != ''">
		<![CDATA[ and `createTime` < #{queryMap.endTime} ]]>
	</if>
	</where>
	order by `id` desc
	limit
	#{pagination.start},#{pagination.pageSize}
</select>

<!--根据id删除消息  -->
<delete id="deleteMessageById">
	delete from `t_thinkingfruit_mall_message`
	where `id` = #{id}
</delete>

<!-- 批量删除 -->
<delete id="deleteBatch">
    delete from `t_thinkingfruit_mall_message`
    where `id` in 
    <foreach item="messageId" collection="messageIds" separator=","
		open="(" close=")" index="">
		#{messageId}
	</foreach>
</delete>

<!-- 添加信息 -->
<insert id="addMessage">
    insert into `t_thinkingfruit_mall_message`(`content`,`createTime`)
    value(#{content},now())
</insert>

<!-- 批量添加消息 -->
<insert id="addMessageList" parameterType="com.thinkingFruit.admin.entity.Message">
	insert into `t_thinkingfruit_mall_message`(`content`,`createTime`)
	values
	<foreach collection="list" index="index" item="contents" separator=",">
		(#{contents.content},
		now())
	</foreach>
</insert>
</mapper>