<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.thinkingFruit.admin.mapper.OrderDao">
	<!--  注册/升级生成交易订单 -->
	<insert id="addFirstPurchase">
		insert into
		`t_thinkingfruit_mall_order_purchase`(
			`orderNo`,`orderMemberId`,`memberLevel`,`orderMemberName`,
			`commodityId`,`commodityCount`,`commodityName`,`commodityPrice`,`isFirst`,
			`orderStatus`,`createTime`,`confirmTime`,`orderTotalPrice`,`inviterId`,`checkStatus`
		)
		values
		(
			#{orderNo},#{orderMemberId},#{memberLevel},#{orderMemberName},
			#{commodityId},#{commodityCount},#{commodityName},#{commodityPrice},#{isFirst},
			2,now(),now(),#{orderTotalPrice},#{inviterId},1
		)
	</insert>
	
	<!--查看所有提货订单-->
	<select id="list" resultType="com.thinkingFruit.admin.entity.Order">
		select
		`o`.id as `id`,
		`o`.orderNo as `orderNo`,
		`o`.orderMemberName as `orderMemberName`,
		`o`.sendMethod as `sendMethod`,
		`o`.orderStatus as `orderStatus`,
		`o`.mobile as `mobile`,
		`o`.orderMemberId as `orderMemberId`,
		`o`.commodityCount as `commodityCount`,
		`o`.commodityId as `commodityId`,
		`c`.name as `commodityName`,
		`o`.createTime as `createTime`,
		`o`.remark as `remark`
		from
		`t_thinkingfruit_mall_order` as `o`
		left join `t_thinkingfruit_mall_commodity` as `c` on `c`.id=`o`.commodityId
		<where>
			1 = 1
			<if test="queryMap.orderStatus !=null and queryMap.orderStatus != ''">
				and o.`orderStatus` =#{queryMap.orderStatus}
			</if>
			<if test="queryMap.startTime != null and queryMap.startTime != ''">
                <![CDATA[ and `o`.createTime > #{queryMap.startTime} ]]>
			</if>
			<if test="queryMap.endTime != null and queryMap.endTime != ''">
                <![CDATA[ and `o`.createTime < #{queryMap.endTime} ]]>
		 	</if>
			<if test="queryMap.orderNo !=null and queryMap.orderNo != ''">
				and o.`orderNo` like CONCAT('%',#{queryMap.orderNo},'%')
			</if>
		 	<if test="queryMap.orderMemberName !=null and queryMap.orderMemberName != ''">
				and o.`orderMemberName` like CONCAT('%',#{queryMap.orderMemberName},'%')
			</if>
			and orderStatus!=3
			ORDER BY `o`.createTime DESC
		</where>
	</select>	
	<!--查询单个提货订单-->
    <select id="getById" resultType="com.thinkingFruit.admin.entity.Order">
       select
        `o`.orderNo as `orderNo`,
        `o`.orderMemberId as `orderMemberId`,
        `o`.orderMemberName as `orderMemberName`,
        `o`.sendMethod as `sendMethod`,
        `o`.province as `province`,
        `o`.city as `city`,
        `o`.town as `town`,
        `o`.address as `address`,
        `o`.mobile as `mobile`,
        `o`.expressNo as `expressNo`,
        `o`.confirmTime as `confirmTime`,
        `o`.orderStatus as `orderStatus`,     
        `o`.remark as `remark`,
        `o`.commodityId as `commodityId`,
        `o`.logistics as `logistics`,
        `o`.commodityCount as `commodityCount`,
        `c`.name as `commodityName`,
        `o`.remark as `remark`
		from
		`t_thinkingfruit_mall_order` as `o`
        left join `t_thinkingfruit_mall_commodity` as `c`
        on `c`.id=`o`.commodityId
		where `o`.id = #{id}
    </select>
    
    <!-- 提货订单发货 -->
    <update id="updateOrderStatus" parameterType="com.thinkingFruit.admin.entity.Order">
		update `t_thinkingfruit_mall_order`
	    <set>
	    orderStatus = 1 ,
	    expressNo = #{order.expressNo},
	    logistics = #{order.logistics},
	    confirmTime = now()
	    </set> 
	    where `id` = #{order.id}
	</update>
	
	<!-- 取消提货订单 -->
	<update id="cancelOrder" parameterType="com.thinkingFruit.admin.entity.Order">
		update `t_thinkingfruit_mall_order`
	    <set>
	    orderStatus = 3 ,
	    updateTime = now()
	    </set> 
	    where `id` = #{id}
	    and orderStatus !=2
	    and orderStatus!=3
	</update>
	
	<!-- 取消交易订单 -->
	<update id="cancelPurchaseOrderStatus" parameterType="com.thinkingFruit.admin.entity.PurchaseOrder">
		update `t_thinkingfruit_mall_order_purchase`
	    <set>
	    orderStatus = 3 ,
	    updateTime = now()
	    </set> 
	    where `id` = #{id}
	    and `inviterId`=0
	    and `orderStatus`=1
	</update>
	
	<update id="cancelCheck" parameterType="com.thinkingFruit.admin.entity.PurchaseOrder">
		update `t_thinkingfruit_mall_order_purchase`
	    <set>
	    orderStatus = 3 ,
	    updateTime = now()
	    </set> 
	    where `id` = #{id}
	    and `checkStatus`=0
	</update>
	
	<update id="checkStatus" parameterType="com.thinkingFruit.admin.entity.PurchaseOrder">
		update `t_thinkingfruit_mall_order_purchase`
	    <set>
	    checkStatus = 1 ,
	    updateTime = now()
	    </set> 
	    where `id` = #{id}
	    and `checkStatus`=0
	</update>
	
	<!-- 导出提货订单excel -->
	<select id="findOrderExcl" resultType="com.thinkingFruit.admin.entity.Order">
		select 
		r.`id` as `id`,
		r.`orderNo` as `orderNo`,
		r.`orderMemberName` as `orderMemberName`,
		r.`orderMemberId` as `orderMemberId`,
		r.`mobile` as `mobile`,
		r.`province` as `province`,
		r.`city` as `city`,
		r.`town` as `town`,
		r.`address` as `address`,
		r.`remark` as `remark`,
		r.`sendMethod` as `sendMethod`,
		r.`orderStatus` as `orderStatus`,
		r.`confirmTime` as `confirmTime`,
		r.`expressNo` as `expressNo`,
		m.`name` as commodityName,
		r.`commodityCount` as commodityCount
		from `t_thinkingfruit_mall_order` as `r` 
		left join `t_thinkingfruit_mall_commodity` as `m`
		on r.`commodityId` = m.`id`
		<where>
			1=1
			<if test="queryMap.startTime != null and queryMap.startTime != ''">
		  		<![CDATA[ and r.`createTime` > #{queryMap.startTime} ]]>
			</if>
			<if test="queryMap.endTime != null and queryMap.endTime != ''">
		 		<![CDATA[ and r.`createTime` < #{queryMap.endTime} ]]>
			</if>
			<if test="queryMap.orderStatus != null and queryMap.orderStatus != '' and queryMap.orderStatus !='undefined'">
				and r.`orderStatus` = #{queryMap.orderStatus}
			</if>
			<if test="queryMap.orderNo != null and queryMap.orderNo != ''">
				and r.`orderNo` = #{queryMap.orderNo}
			</if>
			<if test="queryMap.orderMemberName !=null and queryMap.orderMemberName != ''">
				and r.`orderMemberName` like CONCAT('%',#{queryMap.orderMemberName},'%')
			</if>
			and orderStatus!=3
		</where>
		order by r.`createTime` desc
	</select>
	
	<!-- 查看所有交易订单 -->
	<select id="listPurchase" resultType="com.thinkingFruit.admin.entity.PurchaseOrder">
		select
		`o`.id as `id`,
		`o`.orderNo as `orderNo`,
		`o`.orderMemberName as `orderMemberName`,
		`o`.memberLevel as `memberLevel`,
		`o`.orderStatus as `orderStatus`,
		`o`.commodityName as `commodityName`,
		`o`.orderMemberId as `orderMemberId`,
		`o`.commodityCount as `commodityCount`,
		`o`.certificateImage as `certificateImage`,
		`o`.createTime as `createTime`
		from
		`t_thinkingfruit_mall_order_purchase` as `o`
		<where>
			1 = 1
			<if test="queryMap.orderStatus !=null and queryMap.orderStatus != ''">
				and o.`orderStatus` =#{queryMap.orderStatus}
			</if>
			<if test="queryMap.startTime != null and queryMap.startTime != ''">
                <![CDATA[ and `o`.createTime > #{queryMap.startTime} ]]>
			</if>
			<if test="queryMap.endTime != null and queryMap.endTime != ''">
                <![CDATA[ and `o`.createTime < #{queryMap.endTime} ]]>
		 	</if>
			<if test="queryMap.orderNo !=null and queryMap.orderNo != ''">
				and o.`orderNo` =#{queryMap.orderNo}
			</if>
		 	<if test="queryMap.orderMemberName !=null and queryMap.orderMemberName != ''">
				and o.`orderMemberName` like CONCAT('%',#{queryMap.orderMemberName},'%')
			</if>
			and o.orderStatus!=3
			and o.checkStatus=1
			ORDER BY `o`.createTime DESC
		</where>
	</select>
	
	<!-- 查看所有交易订单审核 -->
	<select id="paginationCheck" resultType="com.thinkingFruit.admin.entity.PurchaseOrder">
		select
		`o`.id as `id`,
		`o`.orderNo as `orderNo`,
		`o`.orderMemberName as `orderMemberName`,
		`o`.memberLevel as `memberLevel`,
		`o`.commodityName as `commodityName`,
		`o`.orderMemberId as `orderMemberId`,
		`o`.commodityCount as `commodityCount`,
		`o`.checkStatus as `checkStatus`,
		`o`.certificateImage as `certificateImage`,
		`o`.createTime as `createTime`
		from
		`t_thinkingfruit_mall_order_purchase` as `o`
		<where>
			1 = 1
			<if test="queryMap.checkStatus !=null and queryMap.checkStatus != ''">
				and o.`checkStatus` =#{queryMap.checkStatus}
			</if>
			<if test="queryMap.startTime != null and queryMap.startTime != ''">
                <![CDATA[ and `o`.createTime > #{queryMap.startTime} ]]>
			</if>
			<if test="queryMap.endTime != null and queryMap.endTime != ''">
                <![CDATA[ and `o`.createTime < #{queryMap.endTime} ]]>
		 	</if>
			<if test="queryMap.orderNo !=null and queryMap.orderNo != ''">
				and o.`orderNo` =#{queryMap.orderNo}
			</if>
		 	<if test="queryMap.orderMemberName !=null and queryMap.orderMemberName != ''">
				and o.`orderMemberName` like CONCAT('%',#{queryMap.orderMemberName},'%')
			</if>
			and orderStatus!=3
			and o.checkStatus=0
			ORDER BY `o`.createTime DESC
		</where>
	</select>
	
	<!-- 获取单个交易订单详情 -->
	<select id="getPurchaseOrderById" resultType="com.thinkingFruit.admin.entity.PurchaseOrder">
       select
       	`o`.id as `id`,	
        `o`.orderNo as `orderNo`,
        `o`.orderMemberId as `orderMemberId`,
        `o`.orderMemberName as `orderMemberName`,
        `o`.orderStatus as `orderStatus`,     
        `o`.memberLevel as `memberLevel`,
        `o`.commodityId as `commodityId`,
        `o`.commodityCount as `commodityCount`,
        `o`.commodityName as `commodityName`,
        `o`.commodityPrice as `commodityPrice`,
        `o`.orderTotalPrice as `orderTotalPrice`,
        `c`.inviterId as `inviterId`,
        `c`.inviterTotalMoney as `inviterTotalMoney`,
        `c`.inviteMoney as `inviteMoney`,
        `c`.inviterUpperId as `inviterUpperId`,
        `c`.commision as `commision`,
        `c`.commisionProportion as `commisionProportion`,
        `o`.certificateImage as `certificateImage`,
        `o`.createTime as `createTime`,
        `o`.confirmTime as `confirmTime`
		from
		`t_thinkingfruit_mall_order_purchase` as `o`
		left join `t_thinkingfruit_mall_commision` as `c` on `c`.orderNo=`o`.orderNo
		where `o`.id = #{id}
    </select>
    
    <!-- 公司给直属下级发交易订单 -->
    <update id="updatePurchaseOrderStatus">
		update `t_thinkingfruit_mall_order_purchase`
	    <set>
	    orderStatus = 2 ,
	    confirmTime = now()
	    </set> 
	    where `id` = #{id}
	    and orderStatus=1
	    and inviterId=0
	</update>
	
	<!-- 导出交易excel -->
	<select id="findPurchaseOrderExcl" resultType="com.thinkingFruit.admin.entity.PurchaseOrder">
		select 
		r.`id` as `id`,
		r.`orderNo` as `orderNo`,
		r.`orderMemberName` as `orderMemberName`,
		r.`orderMemberId` as `orderMemberId`,
		r.`memberLevel` as `memberLevel`,
		r.`commodityId` as `commodityId`,
		r.`commodityCount` as `commodityCount`,
		r.`commodityName` as `commodityName`,
		r.`commodityPrice` as `commodityPrice`,
		r.`isFirst` as `isFirst`,
		r.`orderStatus` as `orderStatus`,
		r.`inviterId` as `inviterId`,
		c.`inviterTotalMoney` as `inviterTotalMoney`,
		c.`inviteMoney` as `inviteMoney`,
		c.`inviterUpperId` as `inviterUpperId`,
		c.`commision` as `commision`,
		r.`createTime` as `createTime`,
		l.`levelName` as `memberLevelName`,
		r.`confirmTime` as `confirmTime`
		from `t_thinkingfruit_mall_order_purchase` as `r` 
		left join `t_thinkingfruit_mall_member_level` as `l` on `r`.memberLevel=`l`.level
		left join `t_thinkingfruit_mall_commision` as `c` on `c`.orderNo =`r`.orderNo
		<where>
			1=1
			<if test="queryMap.startTime != null and queryMap.startTime != ''">
		  		<![CDATA[ and r.`createTime` > #{queryMap.startTime} ]]>
			</if>
			<if test="queryMap.endTime != null and queryMap.endTime != ''">
		 		<![CDATA[ and r.`createTime` < #{queryMap.endTime} ]]>
			</if>
			<if test="queryMap.orderStatus != null and queryMap.orderStatus != '' and queryMap.orderStatus !='undefined'">
				and r.`orderStatus` = #{queryMap.orderStatus}
			</if>
			<if test="queryMap.orderNo != null and queryMap.orderNo != ''">
				and r.`orderNo` = #{queryMap.orderNo}
			</if>
			<if test="queryMap.orderMemberName !=null and queryMap.orderMemberName != ''">
				and r.`orderMemberName` like CONCAT('%',#{queryMap.orderMemberName},'%')
			</if>
			and r.`orderStatus`!=3
		</where>
		order by r.`createTime` desc
	</select>
	
	<!-- 增加销量 -->
    <update id="addSales">
		update `t_thinkingfruit_mall_commodity`
	    <set>
	    sales = sales + #{commodityCount},
	    updateTime = now()
	    </set> 
	    where id = #{id}
	</update>
	
	<!-- 减少销量 -->
    <update id="reduceSales">
		update `t_thinkingfruit_mall_commodity`
	    <set>
	    sales = sales - #{commodityCount},
	    updateTime = now()
	    </set> 
	    where id = (select `p`.commodityId from `t_thinkingfruit_mall_order_purchase` as `p` where `p`.id=#{id})
	</update>
	
	<!-- 获取所有待收货订单 -->
	<select id="findUnreceivedOrder" resultType="com.thinkingFruit.admin.entity.Order">
       select
       	`o`.id as `id`,	
        `o`.orderNo as `orderNo`,
        `o`.orderStatus as `orderStatus`,     
        `o`.confirmTime as `confirmTime`
		from
		`t_thinkingfruit_mall_order` as `o`
		where `o`.orderStatus = 1
    </select>
	
	<!--修改所有待收货订单为已收货  -->
	<update id="updateBatchByOrders">
		update `t_thinkingfruit_mall_order`
	    <set>
	    orderStatus=2,
	    updateTime = now()
	    </set> 
	    where `id` in
		<foreach item="order" collection="list" separator="," open="(" 
			close=")" index="">
			#{order.id}
		</foreach>
	</update>
	
	<!--往代理仓库添加商品库存  -->
	<insert id="addDepot">
		insert into
		`t_thinkingfruit_mall_depot`(
			`commodityId`,`memberId`,`count`,`createTime`
		)
		values
		(
			#{commodityId},#{orderMemberId},#{commodityCount},now()
		)
	</insert>
	
	<!-- 获取代理下该商品的库存 -->
	<select id="getDepot" resultType="com.thinkingFruit.admin.entity.Depot">
       select
       	`d`.id as `id`,	
        `d`.memberId as `memberId`,
        `d`.commodityId as `commodityId`,     
        `d`.count as `count`,
        `d`.createTime as `createTime`
		from
		`t_thinkingfruit_mall_depot` as `d`
		where `d`.memberId = #{orderMemberId}
		and `d`.commodityId=#{commodityId}
    </select>
    <!--  修改库存 -->
    <update id="updateDepot">
		update `t_thinkingfruit_mall_depot`
	    <set>
	    count = #{count},
	    updateTime = now()
	    </set> 
	    where memberId =#{memberId} and commodityId=#{commodityId}
	</update>
</mapper>