<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.thinkingFruit.admin.mapper.PanelStatisticsDao">
	<!-- 将数据插入统计表 -->
	<insert id="addStatistics">
		 insert into `t_thinkingfruit_mall_panel_statistics`
	    (`memberTotal`,`transactionTotal`,`orderTotal`,`commodityTotal`,`cashTotal`,`createTime`,`day`,`month`) 
	    values (
	    (select IFNULL(count(m.`id`),0)	from `t_thinkingfruit_mall_member` as `m` WHERE DATEDIFF(m.`createTime`,NOW())=-1),
	    (SELECT IFNULL(SUM(p.`orderTotalPrice`),0) FROM `t_thinkingfruit_mall_order_purchase` as `p` WHERE DATEDIFF(p.`confirmTime`,NOW())=-1),
		(select IFNULL(count(r.`id`),0)	from `t_thinkingfruit_mall_order_purchase` as `r` WHERE DATEDIFF(r.`confirmTime`,NOW())=-1),
        (select IFNULL(sum(o.`commodityCount`),0) from `t_thinkingfruit_mall_order_purchase` as `o` WHERE DATEDIFF(o.`confirmTime`,NOW())=-1 and `o`.orderStatus=2),
		(select IFNULL(sum(c.`cash`),0) from `t_thinkingfruit_mall_cash` as `c` WHERE DATEDIFF(c.`updateTime`,NOW())=-1 and `c`.status=1),
		now(),DAY (DATE_ADD(NOW() ,Interval -1 day)),
		MONTH (DATE_ADD(NOW() ,Interval -1 day)))
	</insert>
	<!-- 查询折线图 -->
	<select id="findStatisticsAll" resultType="com.thinkingFruit.admin.entity.PanelStatistics">
			SELECT *from(	select `id`,`memberTotal`,`transactionTotal`,`orderTotal`,`commodityTotal`,`cashTotal`,`createTime`,`day`
		from `t_thinkingfruit_mall_panel_statistics` order BY `createTime` DESC LIMIT 0, 7)tal 
		ORDER BY `createTime` 
	</select>
	<!-- 查找总统计 -->
	<select id="findStatisticsTotal" resultType="com.thinkingFruit.admin.entity.PanelStatistics">
		SELECT SUM(`memberTotal`) as `memberTotal`,
		SUM(`transactionTotal`) as `transactionTotal`,
		SUM(`orderTotal`) as `orderTotal`,
		SUM(`cashTotal`) as `cashTotal`,
		SUM(`commodityTotal`) as `commodityTotal`
		FROM `t_thinkingfruit_mall_panel_statistics`
	</select>
	<!-- 日统计 -->
	<select id="dayStatistics" resultType="com.thinkingFruit.admin.entity.PanelStatistics">
		select `memberTotal`,`transactionTotal`
		from `t_thinkingfruit_mall_panel_statistics` 
		WHERE DAY(`createTime`)=DAY(NOW()) 
		and Month(`createTime`) = Month(now()) 
		and YEAR(`createTime`) = YEAR(now())
	</select>
	<!-- 月统计 -->
	<select id="monthStatistics" resultType="com.thinkingFruit.admin.entity.PanelStatistics">
		select SUM(`transactionTotal`) as `transactionTotal`
		from `t_thinkingfruit_mall_panel_statistics` 
		WHERE `month`=MONTH(NOW()) and YEAR(`createTime`) = YEAR(now())
	</select>
	<!-- 根据省份查询订单数 -->
	<select id="getOrderTotalByProvince" parameterType="String" 
		resultType="Long">
		select count(`id`) from `t_thinkingfruit_mall_order` 
		where `province` like CONCAT('%',#{province},'%')
	</select>
	
	
	<!-- 获取代理总数 -->
	<select id="getAgent" resultType="Long">
		SELECT COUNT(`id`) FROM `t_thinkingfruit_mall_member` where `status`=1
	</select>

</mapper>