<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.thinkingFruit.client.mapper.AgentDao">
	<!-- 通过登录名获取代理信息 -->
	<select id="getAgentByName" resultType="com.thinkingFruit.client.entity.Agent">
		select
		t.`id` as `id`,
		t.`mobile` as `mobile`,
		t.`loginName` as `loginName`,
		t.`pswd` as `pswd`,
		t.`gender` as `gender`,
		t.`salt` as `salt`,
		t.`name` as `name`,
		t.`avatar` as `avatar`,
		t.`inviterId` as `inviterId`,
		t.`identityNo` as `identityNo`,
		t.`createTime` as `createTime`,
		t.`updateTime` as `updateTime`,
		t.`memberLevelId` as `memberLevelId`,
		t.`inviterUpperId` as `inviterUpperId`,
		t.`status` as `status`,
		t.`upStatus` as `upStatus`
		from
		`t_thinkingfruit_mall_member` t
		where t.`loginName` = #{loginName}
		and t.`status` = 1
	</select>
	
	<!-- 寻找用户头部信息-->
    <select id="findInfo" resultType="com.thinkingFruit.client.entity.Agent">
		select
		t.`name` as `name`,
		t.`avatar` as `avatar`,
		t.`balance` as `balance`
		from
		`t_thinkingfruit_mall_member` t
		where t.`id` = #{id}
	</select>

	<!-- 通过代理ID查询代理详情 -->
	<select id="getAgentById" resultType="com.thinkingFruit.client.entity.Agent">
		select
		t.`id` as `id`,
		t.`mobile` as `mobile`,
		t.`loginName` as `loginName`,
		t.`pswd` as `pswd`,
		t.`gender` as `gender`,
		t.`salt` as `salt`,
		t.`name` as `name`,
		t.`avatar` as `avatar`,
		t.`inviterId` as `inviterId`,
		t.`inviterUpperId` as `inviterUpperId`,
		t.`identityNo` as `identityNo`,
		t.`createTime` as `createTime`,
		t.`updateTime` as `updateTime`,
		t.`memberLevelId` as `memberLevelId`,
		t.`status` as `status`,
		l.`levelName` as `memberLevelName`,
		t.`upStatus` as `upStatus`
		from
		`t_thinkingfruit_mall_member` as  `t`
		left join `t_thinkingfruit_mall_member_level` as `l` on `l`.level=`t`.memberLevelId
		where
		t.`id` = #{id}
	</select>


	<!-- 添加代理 -->
	<insert id="addAgent" parameterType="com.thinkingFruit.client.entity.Agent" useGeneratedKeys="true" keyProperty="id">
		insert into
		`t_thinkingfruit_mall_member`(
			`loginName`,`mobile`,`pswd`,`salt`,
			`inviterId`,`inviterUpperId`,`balance`
			`createTime`,`status`
		)
		values
		(
			#{loginName},#{mobile},#{pswd},#{salt},
			#{inviterId},#{inviterUpperId},0
			now(),0
		)
	</insert>
	<!-- 添加地址 -->
	<insert id="addAgentAddress">
		insert into
		`t_thinkingfruit_mall_address`(
			`memberId`,`createTime`
		)
		values
		(
			#{id},now()
		)
	</insert>
	<!-- 修改/完善个人信息 -->
	<update id="updateInformation" parameterType="com.thinkingFruit.client.entity.Agent" >
	    update `t_thinkingfruit_mall_member` as `m`
	    <trim prefix="set" suffixOverrides="," suffix="where `m`.id = #{id}">
			<if test="mobile != null and mobile != '' ">
				m.`mobile` = #{mobile},
			</if>
			<if test="gender != null ">
				m.`gender` = #{gender},
			</if>
			<if test="name != null and name != '' ">
				m.`name` = #{name},
			</if>
			<if test="identityNo != null and identityNo != '' ">
				m.`identityNo` = #{identityNo},
			</if>
		</trim>
	</update>
	
	<!--团队列表-->
	<select id="findAgentList" resultType="com.thinkingFruit.client.entity.Agent">
        select
        m.`id` as `id`,
        m.`name` as `name`,
        m.`memberLevelId` as `memberLevelId`,
        m.`avatar` as `avatar`,
        l.`levelName` as `memberLevelName`,
        m.`salesVolume` as `salesVolume`
        from `t_thinkingfruit_mall_member` as `m`
        left join `t_thinkingfruit_mall_member_level` as `l` on `l`.level=`m`.memberLevelId
		where m.`inviterId` = #{id}
    </select>
    
    <!--查找上级-->
    <select id="findinvite" resultType="com.thinkingFruit.client.entity.Agent">
        select
        m.`id` as `id`,
        m.`name` as `name`,
        m.`memberLevelId` as `memberLevelId`,
        m.`avatar` as `avatar`,
        l.`levelName` as `memberLevelName`,
        m.`salesVolume` as `salesVolume`
        from `t_thinkingfruit_mall_member` as `m`
        left join `t_thinkingfruit_mall_member_level` as `l` on `l`.level=`m`.memberLevelId
		where m.`id` = #{id}
    </select>
    
    <!-- 获取代理团队人数 -->
    <select id="getTeamNumbers" resultType="Long">
		SELECT COUNT(*)+( SELECT COUNT(*) FROM `t_thinkingfruit_mall_member` as `m2` WHERE `m2`.inviterId=#{id})
		FROM `t_thinkingfruit_mall_member` as `m`
		WHERE `m`.inviterId IN( 
		SELECT id FROM `t_thinkingfruit_mall_member` as `m2` 
		WHERE `m2`.inviterId=#{id}
		)
	</select>
	
	<!-- 获取团队总销售额 -->
	<select id="getTeamSales" resultType="Double">
		select sum(salesVolume) from t_thinkingfruit_mall_member where FIND_IN_SET(id,getChildrenList(#{id}))
	</select>
	
	<!-- 获取代理地址 -->
	<select id="getAgentAddress" resultType="com.thinkingFruit.client.entity.Agent">
		select
		a.`id` as `id`,
		a.`memberId` as `memberId`,
		a.`province` as `province`,
		a.`city` as `city`,
		a.`town` as `town`,
		a.`address` as `address`,
		a.`createTime` as `createTime`
		from
		`t_thinkingfruit_mall_address` as `a`
		where a.`memberId` = #{memberId}
	</select>
	
	<!-- 修改代理地址 -->
	<update id="updateAgentAddress" parameterType="com.thinkingFruit.client.entity.Agent" >
	    update `t_thinkingfruit_mall_address` as `a`
	    <trim prefix="set" suffixOverrides="," suffix="where `a`.id = #{id}">
			<if test="province != null and province != '' ">
				a.`province` = #{province},
			</if>
			<if test="city != null and city != ''">
				a.`city` = #{city},
			</if>
			<if test="town != null and town != '' ">
				a.`town` = #{town},
			</if>
			<if test="address != null and address != '' ">
				a.`address` = #{address},
			</if>
		</trim>
	</update>
	
	<select id="getAgentLevel" resultType="com.thinkingFruit.client.entity.CommissionRatio">
		select
		l.`id` as `id`,
		l.`level` as `level`,
		l.`levelName` as `levelName`,
		l.`levelingDiscount` as `levelingDiscount`,
		l.`crossLevelDiscount` as `crossLevelDiscount`,
		l.`reverseLevelDiscount` as `reverseLevelDiscount`,
		l.`createTime` as `createTime`
		from
		`t_thinkingfruit_mall_member_level` as `l`
		where l.`level` = #{memberLevelId}
	</select>
	
	
</mapper>