<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.thinkingFruit.client.mapper.ClientPurchaseOrderDao">
	<!-- 添加交易订单 -->
	<insert id="addPurchaseOrder">
		insert into
		`t_thinkingfruit_mall_order_purchase`(
			`orderNo`,`orderMemberId`,`memberLevel`,`orderMemberName`,
			`commodityId`,`commodityCount`,`commodityName`,`commodityPrice`,`isFirst`,
			`orderStatus`,`createTime`,`orderTotalPrice`
		)
		values
		(
			#{orderNo},#{orderMemberId},#{memberLevel},#{orderMemberName},
			#{commodityId},#{commodityCount},#{commodityName},#{commodityPrice},#{isFirst},
			1,now(),#{orderTotalPrice}
		)
	</insert>
	
	<!-- 订单列表 -->
	<select id="findList" resultType="com.thinkingFruit.client.entity.ClientPurchaseOrder">
	   select
		t.`id` as `id`,
		t.`orderNo` as `orderNo`,
		t.`orderMemberName` as `orderMemberName`,
		t.`commodityCount` as `commodityCount`,
		t.`commodityName` as `commodityName`,
		t.`commodityId` as `commodityId`,
		t.`orderMemberId` as `orderMemberId`,
		t.`commodityPrice` as `commodityPrice`,
		t.`orderStatus` as `orderStatus`,
		t.`orderTotalPrice` as `orderTotalPrice`,
		t.`createTime` as `createTime`
		from
		`t_thinkingfruit_mall_order_purchase` as t
		where t.`orderMemberId` = #{id}
		and t.`orderStatus` != 3
	</select>
</mapper>