<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.thinkingFruit.client.mapper.ClientCommodityDao">
    
    <!-- 查询所有商品 -->
    <select id="ClientCommodityList" resultType="com.thinkingFruit.client.entity.ClientCommodity">
        select 
        c.`id` as `id`,
        c.`name` as `name`,
        c.`coverImagePath` as `coverImagePath`,
        c.`sales` as `sales`,
        c.`description` as `description`
        from `t_thinkingfruit_mall_commodity` as c 
        
        where c.`status`=0
       
    </select>
    
    <!-- 查询商品详情 -->
    <select id="findCommodityById" resultType="com.thinkingFruit.client.entity.ClientCommodity">
        select 
        c.`id` as `id` ,
        c.`name` as `name`,
        c.`coverImagePath` as `coverImagePath`,
        c.`description` as `description`,
        c.`approvalNumber` as `approvalNumber`,
        c.`fifthPrice` as `fifthPrice`,
        c.`fourthPrice` as `fourthPrice`,
        c.`thirdPrice` as `thirdPrice`,
        c.`secondPrice` as `secondPrice`,
        c.`firstPrice` as `firstPrice`
        from `t_thinkingfruit_mall_commodity` as c 
        where c.`id` = #{id}
    </select>
	
	<!-- 通过商品id查询商品图片 -->
	<select id="findCommodityImagesById" resultType="String">
		select 
		`i`.imagePath as `imagePath`
		from `t_thinkingfruit_mall_commodity_images` as `i`
		where `i`.status=0 
		and `i`.commodityId=#{id}
	</select>
	
	 <!-- 查询商品详情 -->
    <select id="findImgList" resultType="com.thinkingFruit.client.entity.ClientCommodity">
        select
        c.`id` as `id`, 
        c.`coverImagePath` as `coverImagePath`
        from `t_thinkingfruit_mall_commodity` as c 
    </select>
	
</mapper>