<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.thinkingFruit.client.mapper.ClientCommisionDao">
	<select id="findCommisionList" resultType="com.thinkingFruit.client.entity.ClientCommision">
	   select
		t.`orderNo` as `orderNo`,
		t.`totalAmount` as `totalAmount`,
		t.`commision` as `commision`,
		t.`InviteMoney` as `InviteMoney`,
		t.`createTime` as `createTime`,
		t.`commodityId` as `commodityId`,
		t.`memberId` as `memberId`,
		c.`name` as `name`,
		c.`avatar` as `avatar`
		from
		`t_thinkingfruit_mall_commision` as t left join
		`t_thinkingfruit_mall_member` as c on t.`memberId`=c.`id`
		where t.`inviterUpperId` = #{id}
	</select>
	<!--获取总邀请金-->
	<select id="findInviteMoney" resultType="com.thinkingFruit.client.entity.ClientCommision">
	   select
		t.`orderNo` as `orderNo`,
		t.`totalAmount` as `totalAmount`,
		t.`commision` as `commision`,
		t.`InviteMoney` as `InviteMoney`,
		t.`createTime` as `createTime`,
		t.`commodityId` as `commodityId`,
		t.`memberId` as `memberId`,
		c.`name` as `name`,
		c.`avatar` as `avatar`
		from
		`t_thinkingfruit_mall_commision` as t left join
		`t_thinkingfruit_mall_member` as c on t.`memberId`=c.`id`
		where t.`inviterId` = #{id}
	</select>
	
	<!-- 添加佣金记录 -->
	<insert id="addClientCommision" parameterType="com.thinkingFruit.client.entity.ClientCommision">
		insert into
		`t_thinkingfruit_mall_commision`(
			`orderNo`,`totalAmount`,`inviterTotalMoney`,`commision`,
			`commisionProportion`,`InviteMoney`,`commodityId`,`memberId`,`inviterId`,`inviterUpperId`,
			`createTime`
		)
		values
		(
			#{orderNo},#{totalAmount},#{inviterTotalMoney},#{commision},
			#{commisionProportion},#{InviteMoney},#{commodityId},#{memberId},#{inviterId},#{inviterUpperId},
			now()
		)
	</insert>
	<!-- 获取个人总佣金 -->
	<select id="getTotalClientCommision" resultType="com.thinkingFruit.client.entity.ClientCommision">
	   select
	    sum(t.`personTotalCommision`) as `personTotalCommision`
		from
		`t_thinkingfruit_mall_commision_person` as t
		where t.`memberId` = #{id}
	</select>
	<!--获取个人总邀请金-->
	<select id="getTotalClientInviteMoney" resultType="com.thinkingFruit.client.entity.ClientCommision">
	   select
		sum(t.`personTotalInviteMoney`) as `personTotalInviteMoney`
		from
		`t_thinkingfruit_mall_commision_person` as t
		where t.`memberId` = #{id}
	</select>
	
	<update id="updateInviterIdCommision">
		update `t_thinkingfruit_mall_commision_person`
	    <set>
	    `personTotalInviteMoney` =`personTotalInviteMoney`+ #{commision.inviteMoney},
	    `personTotalCommodity` =`personTotalCommodity`+ #{commision.inviterTotalMoney}
	    </set> 
	    where `memberId` = #{commision.inviterId}
	</update>
	
	<update id="updateInviterUpperIdCommision">
		update `t_thinkingfruit_mall_commision_person`
	    <set>
	    `personTotalCommision` =`personTotalCommision`+  #{commision.commision},
	    `updateTime`=now()
	    </set> 
	    where `memberId` = #{commision.inviterUpperId}
	</update>
	<select id="getTotalCost" resultType="com.thinkingFruit.client.entity.ClientCommision">
	   select
	    (sum(t.`personTotalInviteMoney`)+sum(t.`personTotalCommision`)) as `totalCost`
		from
		`t_thinkingfruit_mall_commision_person` as t
		where t.`memberId` = #{id}
	</select>
</mapper>